.sessao{
    background-color: #85db63; 
    text-indent: 2vw;
    text-align: justify; 
}

.titulo{
    text-align: center;
    text-indent: 0vw;
}

.baner{
    background-image: linear-gradient(#6ec74a, #3a5f2c);
}

.banerimg{
    width: 100%;
    height: 225px;
}

