.frame{
    border: solid gray 2px;
    width: 500px;
    height: 400px;
    margin: 10px;
}

.opcoes{
    list-style-type: none;
    text-align: center;
}

.hori{
    display: inline;
    text-decoration: none;
    
}

