body{
    background-color: #111111;
    background-image: linear-gradient(#111111, #FFFF);
    height: max-content99;
    color: #ffffff;
    font-family: serif;
}

h1{
    color: #f00000;
    border: solid #ffffff 1px;
    display: table;
}

