.exemploRed{
    background-color: #ff0000;
}

.exemploBlue{
    background-color: #0000ff;
}
.exemploBlack{
    background-color: #000000; 
}

.exemploInline{
    color: #ffffff;
    width: 20%;
    display: inline-flex;
}

.exemploBlock{
    color: #ffffff;
    display: block;
    width: 20%;
}
